body {
    background: linear-gradient(180deg, #B2B0E8 0%, #646382 100%);
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #1a2a80;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    font-family: 'KomikaTitle';
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'KomikaTitle';
    src: url('fonts/komikatitle_axisrus_lat.otf') format('opentype');
}

.btnmain {
    width: 350px;
    height: 150px;
    margin: 10px auto;
    background: #D9D9D9;
    border-radius: 35px;
    font-family: 'KomikaTitle';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    color: #1A2A80;
    cursor:pointer;
    transition: 0.3s;
}

.btnmain:hover {
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);

}

.card,
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Наступні два селетори потрібні для показу блоків на сторінці */
.main.active{
    display:flex;

}

.main {
    display:none;
}

.timer {
    position:absolute;
    top:20px;
    left:20px;
    font-size:30px;
    font-weight: bold;
    color:lightgray;

}

.answers {
    display:flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    gap:20px;
    margin-top:30px;
    max-width:800px;

}

.header .title {
    text-align:center;
    font-size:35px;
}

.start_block {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}