body {
    background: linear-gradient(180deg, #B2B0E8 0%, #646382 100%);
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: #1a2a80;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5%;
    font-family: 'KomikaTitle';
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'KomikaTitle';
    src: url('fonts/komikatitle_axisrus_lat.otf') format('opentype');
}